.Form-row {
	display: flex;
	align-content: stretch;
	margin: 0 vr(-0.25) vr(0.5) vr(-0.25);

	> * {
		margin: 0 vr(0.25);
	}
}

.Form-field {
	margin-bottom: vr(0.5);
}

.Form-label {
	display: block;
}

.Form-input {
	box-sizing: border-box;
	border: 1px solid $color-gray-dark;
	width: 100%;
	padding: vr(0.25);
	font-size: $base-font-size;

	&.isInvalid,
	&[pattern]:invalid {
		border-color: $color-red;
		color: $color-red;
	}
}
