/* stylelint-disable declaration-no-important */
@mixin nested-list($elem,  $item) {

	#{$elem}.rgaaExt-OutlineHelper {
		outline: solid 2px $color-red !important;
		& >  #{$item}.rgaaExt-OutlineHelper {
			outline: dashed 1px $color-red !important;
			& > #{$elem}.rgaaExt-OutlineHelper {
				outline: dashed 2px $color-blue !important;
				& > #{$item}.rgaaExt-OutlineHelper {
					outline: dotted 1px $color-blue !important;
					& > #{$elem}.rgaaExt-OutlineHelper {
						outline: dashed 2px $color-green !important;
						& > #{$item}.rgaaExt-OutlineHelper {
							outline: dotted 1px $color-green !important;
						}
					}
				}
			}
		}
	}
}

.rgaaExt-OutlineHelper {
	outline: 2px $color-red solid !important;
	box-shadow: 0 0 10px $color-red !important;
	margin: 0.5em !important;
	padding: 0.5em !important;

	.rgaaExt-OutlineHelper {
		outline: 2px $color-blue dashed !important;
		box-shadow: none !important;

		.rgaaExt-OutlineHelper {
			outline: 2px $color-green dotted !important;
		}
	}
}

@include nested-list('ul', 'li');
@include nested-list('[role="list"]', '[role="listitem"]')
