/**
 *
 */
html,
body {
	height: 100%;
	overflow: hidden;
	color: $color-black;
}

button,
summary {
	cursor: pointer;
}

button:disabled {
	cursor: default;
}

*:focus {
	outline: 2px solid orange;
}
