.ActionButton {
	@include typi($typi-xlarge);
	display: flex;
	align-items: center;
	gap: vr(0.25);
	border: none;
	padding: vr(0.2) vr(0.5);
	border-radius: 5px;
	background-color: $color-accent;
	color: $color-accent-text;
	transition: background-color ease-out 0.2s;

	&:hover,
	&:focus {
		background-color: $color-accent-darker;
	}
}
