.References-container {
	ul {
		display: flex;
		justify-content: start;
		flex-wrap: wrap;
		margin-bottom: vr(0.5);
		color: $color-white;
		gap: 0.5ch;

		a {
			width: 100%;
			text-decoration: none;
			padding: vr(0.2) vr(0.5);
			color: inherit;
			border-radius: vr(0.5);
			background-color: $color-blue-dark;
			@include typi($typi-regular);

			&:hover,
			&:focus {
				background: $color-blue;
			}
		}
	}

	.Wcag-success {
		&--header {
			font-weight: bold;
			font-family: $font-title;
			@include typi($typi-large);
		}

		p {
			@include typi($typi-regular);
			margin-bottom: 5px;
		}
	}
}
