.ReferencePage {
	position: relative;
	display: flex;
	flex: 1;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: auto;
}

.ReferencePage-actions {
	display: flex;
	gap: vr(0.5);
	padding: vr(0.5);
	background: $color-blue-dark;
	border-bottom: 3px solid $color-accent;
}

.ReferencePage-themes {
	flex: 1;
	overflow: auto;
}
