.react-tabs {
	background-color: $color-white;

	&__tab-list {
		display: flex;
		justify-content: stretch;
		width: 100%;
		text-decoration: none;
	}

	&__tab {
		flex-grow: 1;
		text-align: center;
		background-color: $color-gray-light;
		color: $color-gray-dark;
		padding: vr(0.25);
		cursor: pointer;
		border-top: vr(0.125) solid transparent;

		&:hover,
		&:focus {
			border-top-color: $color-gray;
		}

		&--selected {
			background-color: $color-white;
			color: $color-black;
			z-index: 100;
			border-top-color: $color-blue !important;
			font-weight: bold;
		}
	}
}
