.ThemesList {
	z-index: 100;
}

.ThemesList-list {
	position: absolute;
	left: $app-gutter;
	right: $app-gutter;
	margin: auto;
	background: $color-white;
	border: 2px solid $color-theme;
	border-top: 0;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.6);
}

.ThemesList-title {
	flex-shrink: 0;
	padding: 0;
	display: block;
	width: 100%;
	text-align: left;
	cursor: pointer;
}

.ThemesList-toggleIcon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1em;
	height: 1em;
}


.ThemesList-link {
	display: block;
	padding: vr(0.25) $app-gutter;
	background: $color-white none no-repeat 0.6rem 50%;
	background-size: 24px;
	border: 1px solid darken($color-sand, 30%);
	border-left: 0;
	border-right: 0;
	text-decoration: underline;
}

.ThemesList-item + .ThemesList-item .ThemesList-link {
	border-top: 0;
}

.ThemesList-itemIcon {
	margin-right: $app-gutter;
	width: 1.2em;
	height: 1.2em;
	vertical-align: -0.3em;
}

.ThemesList-item:last-child .ThemesList-link {
	border-bottom: 0;
}

.ThemesList-link:not(.is-disabled):hover,
.ThemesList-link:not(.is-disabled):focus {
	background-color: $color-highlight;
}

.ThemesList-link:not(.is-disabled):active {
	background-color: darken($color-highlight, 10%);
}

.ThemesList-link.is-disabled {
	opacity: 0.4;
	cursor: help;
}

.ThemesList-item.is-active .ThemesList-link {
	background-color: $color-white;
	border-bottom: 0;
}
